.dashboard {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outlet {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}